<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="mt-4"
                style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/dashboard" class="text-decoration-none">Inicio</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Incapacidades Radicadas</li>
                </ol>
            </nav>
        </div>
        <div class="py-2">
            <p class="fs-1 text-center fw-light">Incapacidades Radicadas</p>
            <hr>
        </div>
        <small class="text-muted mb-2">Aqui podras gestionar todas las incapacidades radicadas, viendo toda la
            información necesaria.
        </small>

        <div class="col-12" *ngIf="incapacidades.length == 0 && !isLoading">
            <div class="h-100 p-3 bg-light border rounded-4 text-center align-items-center d-flex">
                <strong class="option-tipo">No hay incapacidades registradas.</strong>
            </div>
        </div>

        <div class="col-12" *ngIf="isLoading">
            <div class="h-100 p-3 bg-light border rounded-4 text-center align-items-center d-flex">
                <strong class="option-tipo">El historial de incapacidades estan cargando....</strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        </div>

        <div class="card px-0 border rounded" *ngIf="!isLoading && incapacidades.length > 0">
            <p-table #dtInc [value]="incapacidades" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [tableStyle]="{ 'min-width': '100rem' }" [styleClass]="'p-datatable-sm'">

                <ng-template pTemplate="caption">
                    <div class="justify-content-end d-flex">
                        <button type="button" (click)="refreshComponent()" class="btn btn-sm me-2" [ngClass]="{'btn-warning': usuarioSesion.nombreEmp === 'ACTIVOS', 'btn-serviola' : usuarioSesion.nombreEmp === 'SERVIOLA', 'btn-atecno' : usuarioSesion.nombreEmp === 'ATECNO'}" pTooltip="Refrescar página" tooltipPosition="top">
                            <i class="fa-solid fa-rotate"></i>
                        </button>
                        <button type="button" (click)="clearTable(dtInc)" class="btn btn-sm" [ngClass]="{'btn-warning': usuarioSesion.nombreEmp === 'ACTIVOS', 'btn-serviola' : usuarioSesion.nombreEmp === 'SERVIOLA', 'btn-atecno' : usuarioSesion.nombreEmp === 'ATECNO'}" pTooltip="Limpiar filtro" tooltipPosition="top">
                            <i class="fa-solid fa-filter-circle-xmark"></i>
                        </button>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th scope="col" pSortableColumn="numeroRadicado" style="width: 10%;" class="ps-3">N° Radicado</th>
                        <th scope="col" pSortableColumn="fechaRadicacion" style="width: 10%;">Fecha Radicación</th>
                        <th scope="col" pSortableColumn="fechaInicial" style="width: 10%;">Fecha Inicio</th>
                        <th scope="col" pSortableColumn="fechaFinal" style="width: 10%;">Fecha Fin</th>
                        <th scope="col" pSortableColumn="numeroDeDias" style="width: 7%;">Dias</th>
                        <th scope="col" pSortableColumn="estadoObservacionTrabajador" style="width: 13%;">Estado</th>
                        <th scope="col" pSortableColumn="nombreEmpresa" style="width: 15%;">Empresa Usuaria</th>
                        <th scope="col" pSortableColumn="tipoIncapacidad" style="width: 20%;">Tipo Incapacidad</th>
                        <th scope="col" style="width: 10%;"></th>
                    </tr>
                    <tr>
                        <th scope="col">
                            <p-columnFilter [matchMode]="defaultTextFilterMode" type="text" field="numeroRadicado" [showClearButton]="false"></p-columnFilter>
                        </th>
                        <th scope="col">
                            <p-columnFilter [matchMode]="defaultTextFilterMode" type="text" field="fechaRadicacion" [showClearButton]="false"></p-columnFilter>
                        </th>
                        <th scope="col">
                            <p-columnFilter [matchMode]="defaultTextFilterMode" type="text" field="fechaInicial" [showClearButton]="false"></p-columnFilter>
                        </th>
                        <th scope="col">
                            <p-columnFilter [matchMode]="defaultTextFilterMode" type="text" field="fechaFinal" [showClearButton]="false"></p-columnFilter>
                        </th>
                        <th scope="col">
                            <p-columnFilter [matchMode]="defaultTextFilterMode" type="text" field="numeroDeDias" [showClearButton]="false"></p-columnFilter>
                        </th>
                        <th scope="col">
                            <p-columnFilter [matchMode]="defaultTextFilterMode" type="text" field="estadoObservacionTrabajador" [showClearButton]="false"></p-columnFilter>
                        </th>
                        <th scope="col">
                            <p-columnFilter [matchMode]="defaultTextFilterMode" type="text" field="nombreEmpresa" [showClearButton]="false"></p-columnFilter>
                        </th>
                        <th scope="col">
                            <p-columnFilter [matchMode]="defaultTextFilterMode" type="text" field="tipoIncapacidad" [showClearButton]="false"></p-columnFilter>
                        </th>
                        <th scope="col"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-i>
                    <tr>
                        <td class="ps-3">{{ i.numeroRadicado }}</td>
                        <td>{{ i.fechaRadicacion }}</td>
                        <td>{{ i.fechaInicial }}</td>
                        <td>{{ i.fechaFinal }}</td>
                        <td>{{ i.numeroDeDias }}</td>
                        <td>{{ i.estadoObservacionTrabajador.toUpperCase() }}</td>
                        <td>{{ i.nombreEmpresa }}</td>
                        <td>{{ i.tipoIncapacidad }}</td>
                        <td class="text-center">
                            <button (click)="viewDetailsIncapacidad(i, modal)"
                            type="button" pTooltip="Ver detalles" tooltipPosition="top"
                            class="btn btn-info rounded-pill btn-sm">
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<ng-template #modal let-c="close" let-d="dismiss">
    <div class="modal-content shadow">
        <div class="modal-header border-0">
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="text-center">
                <i class="fa-solid fa-magnifying-glass text-info fs-1"></i>
                <p class="fs-2 mb-0 mt-2">
                    <span class="fw-light">Radicación </span>
                    <strong>{{incapacidadSelected.numeroRadicado}}</strong>
                </p>
            </div>
            <div class="row">
                <div class="col">
                    <p class="mb-0 text-center">
                        <span class="text-dark fw-bold">EMPRESA </span>
                        <span class="text-muted">{{ incapacidadSelected.nombreEmpresa }}</span>
                    </p>
                    <p class="mb-0 text-center">
                        <span class="text-dark fw-bold">CONTRATO </span>
                        <span class="text-muted">{{ incapacidadSelected.numeroContrato }}</span>
                    </p>
                    <hr>
                    <p class="mb-0 text-center text-muted">
                        <span>INCAPACIDAD NO. </span>
                        <span class="fw-bold text-dark">{{ incapacidadSelected.numeroRadicado}}</span>
                        <span> RADICADA EL </span>
                        <span class="fw-bold text-dark">{{ incapacidadSelected.fechaRadicacion}}</span>
                    </p>
                    <p class="mb-0 text-center text-muted">
                        <span>INICIANDO EL </span>
                        <span class="fw-bold text-dark">{{ incapacidadSelected.fechaInicial }}</span>
                        <span> Y TERMINANDO EL </span>
                        <span class="fw-bold text-dark">{{ incapacidadSelected.fechaFinal }}</span>
                    </p>
                    <p class="mb-0 text-center text-muted">
                        <span> CON ESTADO EN </span>
                        <span class="fw-bold text-dark">{{ incapacidadSelected.estadoObservacionTrabajador.toUpperCase() }}.</span>
                    </p>
                    <hr>
                    <p class="mb-0">
                        <span class="text-dark fw-bold">TIPO </span>
                        <span class="text-muted">{{ incapacidadSelected.tipoIncapacidad }}.</span>
                    </p>
                    <p class="mb-0">
                        <span class="text-dark fw-bold">SUBTIPO </span>
                        <span class="text-muted">{{ incapacidadSelected.subTipoIncapacidad }}.</span>
                    </p>
                    <p class="mb-0">
                        <span class="text-dark fw-bold">SEGURO </span>
                        <span class="text-muted">{{ incapacidadSelected.nombreEps }}.</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="modal-footer">

        </div>
    </div>
</ng-template>

<ng-template #modalObservaciones let-c="close" let-d="dismiss">
    <div class="modal-content shadow">
        <div class="modal-header border-bottom-0">
            <h1 class="modal-title fs-5">Observaciones Radicado: {{ numeroRadicadoSeleccionado }}</h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row pe-2">
                <div class="col">
                    <div *ngFor="let obs of observacionesConsulta" class="alert alert-secondary" role="alert">
                        <div class="d-flex justify-content-between">
                            <div class="fs-6">
                                Estado
                                <span class="fw-bold">{{ obs.estado }}</span>
                            </div>
                            <div class="fs-6">
                                Fecha
                                <span class="fw-bold">{{ obs.fecha | date: 'dd/MM/yyyy' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer border-top-0">
            <button type="button" class="btn btn-dark" aria-label="Close" (click)="d('Cross click')">Aceptar</button>
        </div>
    </div>
</ng-template>