<div class="container">
    <div class="row">
        <p class="fs-1 mt-3 text-center">Ooooooops, Lo sentimos</p>
        <p class="fs-4 fw-light text-center">Parece que no se ha detectado una se.</p>
        <div class="col-6 mx-auto">
            <img src="assets/img/error_001.jpg" alt="User not logged img" class="img-fluid">
            <div class="d-grid gap-2">
                <button type="button" (click)="goToSitioTrabajador()" class="btn btn-danger rounded-pill btn-block">Ir al Sitio del Trabajador</button>
            </div>
        </div>
    </div>
</div>