.btn-serviola {
    background-color: #9f2843;
    color: #ffff;
}

.btn-serviola:hover {
    background-color: #6d1c2f;
}

.bg-serviola {
    background-color: #9f2843;
}

.btn-atecno {
    background-color: #FF7243;
    color: #ffff;
}

.btn-atecno:hover {
    background-color: #d8653e;
}

.bg-atecno {
    background-color: #FF7243;
}