<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 pt-3">
            <nav class="mt-2"
                style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" routerLinkActive="fw-bold">
                        <a routerLink="/dashboard" class="text-decoration-none">Inicio</a>
                    </li>
                    <li class="breadcrumb-item" routerLinkActive="fw-bold">
                        <a routerLink="/incapacidades/radicacion/tipo-incapacidad" class="text-decoration-none">Radicar
                            incapacidad</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ capitalizeWords(tipoInc.nombreTipoIncapacidad) }}</li>
                </ol>
            </nav>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="errorMessageWarning">
                <strong>{{ errorMessageWarning }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="p-sm-4 mb-4 bg-light rounded-5 border">
                <div class="container-fluid p-4">
                    <h1 class="fw-bold text-center">Radicar Incapacidad</h1>
                    <h3 class="fw-light text-center text-muted">{{ tipoInc.nombreTipoIncapacidad }} </h3>
                    <form class="row g-4 needs-validation" [formGroup]="form" (ngSubmit)="onSubmit()">

                        <div class="col-12">
                            <label for="contrato" class="form-label">
                                Contrato<span class="fw-bold text-danger me-1">*</span>
                                <i class="fa-solid fa-circle-info text-primary" data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-title="Seleccione el contrato correspondiente a la incapacidad a radicar."></i>
                            </label>
                            <select id="contrato" name="contrato" formControlName="contrato" 
                                class="form-select form-select-lg" required 
                                [(ngModel)]="contrato"
                                (change)="onChangeContrato(contrato)" #contratoSelect>
                                <option *ngFor="let c of contratos" [ngValue]="c" class="text-uppercase">
                                    {{ c.numeroContrato }} - {{c.nombreEmpresaFilial}} - Finalizó el {{c.fechaFinalizacionContrato | date:'dd-MMM-yyyy'}}
                                </option>
                            </select>

                            <div *ngIf="!contratoSelect.value" class="invalid-feedback">Este campo es requerido.</div>
                        </div>

                        <div class="col-12 col-md-6">
                            <label for="empresaPrincipal" class="form-label">Empresa principal</label>
                            <input id="empresaPrincipal" name="empresaPrincipal" type="text" class="form-control form-control-lg" disabled 
                                [value]="empresaPrincipal" />
                        </div>

                        <div class="col-12 col-md-6">
                            <label for="empresaUsuaria" class="form-label">Empresa usuaria</label>
                            <input id="empresaUsuaria" name="empresaUsuaria" type="text" class="form-control form-control-lg" disabled
                                [value]="empresaUsuaria" />
                        </div>

                        <div class="col-12 col-md-8">
                            <label for="subtipo" class="form-label">
                                Subtipo incapacidad
                                <span class="fw-bold text-danger me-1">*</span>
                            </label>
                            <select id="subtipo" name="subtipo" formControlName="subtipo" 
                                class="form-select form-select-lg" required
                                [(ngModel)]="subtipoIncapacidad" #subtipoIncapacidadSelect>
                                <option *ngFor="let si of subtiposIncapacidad" [ngValue]="si">
                                    {{si.nombreSubTipoIncapacidad}}</option>
                                </select>
                                <div *ngIf="!subtipoIncapacidadSelect.value" class="invalid-feedback">Este campo es requerido</div>

                        </div>

                        <div class="col-12 col-md-4">
                            <label for="numeroIncapacidad" class="form-label">
                                N° incapacidad
                                <i class="fa-solid fa-circle-info text-primary" data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-title="Digite el número único de su incapacidad."></i>
                            </label>
                            <input id="numeroIncapacidad" name="numeroIncapacidad" formControlName="numeroIncapacidad"
                                [(ngModel)]="numeroIncapacidad"
                                [ngClass]="{'is-invalid': f['numeroIncapacidad'].errors && submitted}" 
                                type="number" class="form-control form-control-lg"/>
                            
                            <div *ngIf="f['numeroIncapacidad'].errors && submitted" class="invalid-feedback">
                                <div *ngIf="f['numeroIncapacidad'].errors['minLength']">2 caracter minimo.</div>
                                <div *ngIf="f['numeroIncapacidad'].errors['maxlength']">5 caracteres maximo.</div>
                            </div>
                        </div>

                        <div class="col-12">
                            <label for="diagnostico" class="form-label">
                                Enfermedad
                                <span class="fw-bold text-danger me-1">*</span>
                            </label>
                            <p-dropdown  id="diagnostico" name="diagnostico" formControlName="diagnostico"
                                [ngClass]="{'is-invalid ng-invalid ng-dirty': f['diagnostico'].errors && submitted}" 
                                [styleClass]="'col-12 custom-select'" 
                                [options]="enfermedades" 
                                [(ngModel)]="diagnostico" optionLabel="nombreEnfermedad" 
                                [filter]="true" 
                                filterBy="codigoEnfermedad,nombreEnfermedad" 
                                [showClear]="true"
                                [placeholder]="'Seleccione una enfermedad'">
                                <ng-template pTemplate="diagnostico">
                                    <div class="flex align-items-center gap-2 text-dark" *ngIf="diagnostico">
                                        <div>{{ diagnostico }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-e pTemplate="item">
                                    <div class="flex align-items-center gap-2 ">
                                        <div>{{ e.codigoEnfermedad }} - {{ e.nombreEnfermedad }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown> 
                            <div *ngIf="f['diagnostico'].errors && submitted" class="invalid-feedback">
                                <div *ngIf="f['diagnostico'].errors['required']">Este campo es requerido.</div>
                            </div>
                        </div>



                        <div class="col-12 col-md-3 col-lg-4">
                            <label for="fInicio" class="form-label">
                                Fecha inicio
                                <span class="fw-bold text-danger me-1">*</span>
                            </label>
                            <input id="fechaInicio" name="fechaInicio" formControlName="fechaInicio"
                                type="date" class="form-control form-control-lg" required
                                [(ngModel)]="fechaInicio"
                                [ngClass]="{'is-invalid': f['fechaInicio'].errors && submitted}" />
                            <div *ngIf="f['fechaInicio'].errors && submitted" class="invalid-feedback">
                                <div *ngIf="f['fechaInicio'].errors['required']">Este campo es requerido</div>
                            </div>
                        </div>

                        <div class="col-12 col-md-3 col-lg-2">
                            <label for="numeroDias" class="form-label">
                                N° Dias
                                <span class="fw-bold text-danger me-1">*</span>
                            </label>
                            <input id="numeroDias" name="numeroDias" formControlName="numeroDias"
                                type="number" class="form-control form-control-lg" required
                                [(ngModel)]="numeroDias"
                                [ngClass]="{'is-invalid': f['numeroDias'].errors && submitted}" />
                            <div *ngIf="f['numeroDias'].errors && submitted" class="invalid-feedback">
                                <div *ngIf="f['numeroDias'].errors['required']">Este campo es requerido</div>
                                <div *ngIf="f['numeroDias'].errors['minLength']">1 caracter minimo.</div>
                                <div *ngIf="f['numeroDias'].errors['maxlength'] 
                                    && (tipoInc.nombreTipoIncapacidad === 'ACCIDENTE LABORAL' 
                                    || tipoInc.nombreTipoIncapacidad === 'ENFERMEDAD LABORAL'
                                    || tipoInc.nombreTipoIncapacidad === 'ENFERMEDAD GENERAL')">2 caracteres maximo.</div>
                                <div *ngIf="f['numeroDias'].errors['maxlength'] && tipoInc.nombreTipoIncapacidad === 'LICENCIA MATERNIDAD, ABORTO Y PATERNIDAD'">3 caracteres maximo.</div>
                                <div *ngIf="f['numeroDias'].errors['min']">Valor minimo (1) dias.</div>
                                <div *ngIf="f['numeroDias'].errors['max'] 
                                    && (tipoInc.nombreTipoIncapacidad === 'ACCIDENTE LABORAL' 
                                    || tipoInc.nombreTipoIncapacidad === 'ENFERMEDAD LABORAL'
                                    || tipoInc.nombreTipoIncapacidad === 'ENFERMEDAD GENERAL')">Valor maximo (30) dias..</div>

                                    <div *ngIf="f['numeroDias'].errors['max'] && tipoInc.nombreTipoIncapacidad === 'LICENCIA MATERNIDAD, ABORTO Y PATERNIDAD'">Valor maximo (300) dias.</div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6"
                            *ngIf="tipoInc.nombreTipoIncapacidad === 'ACCIDENTE LABORAL' || tipoInc.nombreTipoIncapacidad === 'ENFERMEDAD LABORAL'">
                            <label for="fechaAccidente" class="form-label">
                                Fecha accidente
                                <i class="fa-solid fa-circle-info text-primary" data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    data-bs-title="Digite la fecha del día exacto del Accidente de Trabajo asociado a esta incapacidad."></i>
                            </label>
                            <input id="fechaAccidente" name="fechaAccidente" formControlName="fechaAccidente" 
                                type="date" class="form-control form-control-lg" required
                                [(ngModel)]="fechaAccidente"
                                [ngClass]="{'is-invalid': f['fechaAccidente'].errors && submitted}"/>
                            <div *ngIf="f['fechaAccidente'].errors && submitted" class="invalid-feedback">
                                <div *ngIf="f['fechaAccidente'].errors['required']">Este campo es requerido</div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6"
                            *ngIf="tipoInc.nombreTipoIncapacidad == 'LICENCIA MATERNIDAD, ABORTO Y PATERNIDAD'">
                            <label for="fechaFueroMaterno" class="form-label">
                                Fecha fuero Materno
                            </label>
                            <input id="fechaFueroMaterno" name="fechaFueroMaterno" formControlName="fechaFueroMaterno"
                                type="date" class="form-control form-control-lg" required
                                [(ngModel)]="fechaFueroMaterno"
                                [ngClass]="{'is-invalid': f['fechaFueroMaterno'].errors && submitted}"/>
                            <div *ngIf="f['fechaFueroMaterno'].errors && submitted" class="invalid-feedback">
                                <div *ngIf="f['fechaFueroMaterno'].errors['required']">Este campo es requerido</div>
                            </div>
                        </div>

                        <div class="text-center" [ngClass]="{'col-12 col-md-6': tipoInc.nombreTipoIncapacidad === 'ENFERMEDAD GENERAL','col-12' : tipoInc.nombreTipoIncapacidad !== 'ACCIDENTE LABORAL'}">
                            <label for="prorroga" class="form-label">
                                ¿Prorroga?
                                <span class="fw-bold text-danger me-1">*</span>
                                <i class="fa-solid fa-circle-info text-primary" data-bs-toggle="tooltip"
                                    data-bs-placement="top" data-bs-title="Se entiende por prórroga de la incapacidad, la 
                                    que se expide con posterioridad a la inicial, por la misma enfermedad o lesión, o por 
                                    otra que tenga relación directa con esta, así se trate de código diferente de diagnóstico 
                                    (CIE), y siempre y cuando entre una y otra no haya una interrupción mayor a treinta (30) 
                                    días calendario."></i>
                            </label>
                            <div>
                                <div class="form-check form-check-inline">
                                    <input id="prorrogaSI" name="prorroga" formControlName="prorroga"
                                        class="form-check-input" type="radio"
                                        [ngClass]="{'is-invalid': f['prorroga'].errors && submitted}"
                                        [(ngModel)]="prorroga"
                                        [value]="'S'">
                                    <label class="form-check-label" for="prorrogaSI"><strong>SI</strong> aplica.</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input id="prorrogaNO" name="prorroga" formControlName="prorroga"
                                        class="form-check-input" type="radio"
                                        [ngClass]="{'is-invalid': f['prorroga'].errors && submitted}"
                                        [(ngModel)]="prorroga"
                                        [value]="'N'">
                                    <label class="form-check-label" for="prorrogaNO"><strong>NO</strong> aplica.</label>
                                    </div>
                            </div>
                        </div>

                        <hr />
                        <div class="col-12 d-flex justify-content-center me-2">
                            <button (click)="goPage('/incapacidades/radicacion/tipo-incapacidad')" type="button" class="btn rounded-pill btn-lg btn-warning">
                                <i class="fa-solid fa-arrow-left me-sm-2"></i>
                                Regresar
                            </button>
                            <button type="submit" class="btn btn-lg btn-warning rounded-pill ms-2">
                                Siguiente
                                <i class="fa-solid fa-arrow-right ms-sm-2"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>