<div class="container">
    <div class="row">
        <div class="col-12">
            <nav class="mt-4"
                style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" routerLinkActive="fw-bold">
                        <a routerLink="/dashboard" class="text-decoration-none">Inicio</a>
                    </li>
                    <li class="breadcrumb-item" routerLinkActive="fw-bold">
                        <a routerLink="/incapacidades/devolucion/incapacidades-devueltas" class="text-decoration-none">Radicaciones devueltas</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Devolución {{ incapacidadDevuelta.numeroRadicado }}</li>
                </ol>
            </nav>
        </div>

        <div class="bg-white sticky-top py-2">
            <p class="text-center">
                <span class="fs-1 fw-light">Cargar documentos </span>
                <span class="fs-2 fw-bold text-muted">(Devolución {{ incapacidadDevuelta.numeroRadicado }})</span>
            </p>
            <hr>
        </div>

        <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="errorMessage">
            <div [innerHTML]="errorMessage"></div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div class="col-12" *ngIf="isLoadingDocumentos">
            <div class="h-100 p-3 bg-light border rounded-4 text-center align-items-center d-flex">
                <strong class="option-tipo">Los documentos para radicar una incapacidad estan cargando....</strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        </div>
        <div class="col">
            <div class="p-sm-4 mb-4 bg-light rounded-5 border" *ngIf="!isLoadingDocumentos">
                <div class="container-fluid p-4">
                    <div class="row">
                        <div class="col">
                            <h3 class="fw-light text-center text-muted">{{ incapacidadDevuelta.tipoIncapacidad }}</h3>
                            <h6 class="fw-light text-center text-muted">{{ incapacidadDevuelta.subTipoIncapacidad }}</h6>
                            <hr>
                            <p>
                                <strong>Concepto:</strong>
                                Afectación de la salud de una persona, que compromete su bienestar físico o mental,
                                derivada de eventos
                                ajenos a su actividad laboral.
                            </p>
                            <p>
                                <strong>Observaciones:</strong>
                                Recordar que deben ser expedidas por profesional e IPS adscrito a la red asistencial de
                                la EPS, salvo
                                que se trate de una Urgencia Médica categorizada como Triage I o II y que no se admiten
                                o reconocen
                                incapacidades por tratamientos estéticos ni sus consecuencias, tampoco expedidas por
                                Medicina Legal o
                                fuera del territorio nacional.
                            </p>
                            <p>
                                <strong>Incapacidad prórroga:</strong>
                                Se entiende por prórroga de la incapacidad, la que se expide con posterioridad a la
                                inicial, por la
                                misma enfermedad o lesión, o por otra que tenga relación directa con esta, así se trate
                                de código
                                diferente de diagnóstico (CIE), y siempre y cuando entre una y otra no haya una
                                interrupción mayor a
                                treinta (30) días calendario.
                            </p>
                            <p>
                                Si usted se encuentra afiliado a las EPS, SURA EPS o NUEVA EPS y la incapacidad que va a
                                adjuntar
                                es prórroga o mayor a 2 días deberá haber realizado previamente la respectiva
                                transcripción conforme
                                lo exigen estas entidades.
                            </p>
                            <p>
                                Para pago de incapacidades posteriores al día 540 a partir del primero de agosto de
                                2017, según
                                Sentencia T 401 y por políticas de la EPS es necesario que el usuario (a) allegue la
                                documentación
                                requerida.
                            </p>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="alert alert-light alert-dismissible fade show  border border-danger"
                                role="alert">
                                <h5 class="alert-heading text-danger">IMPORTANTE</h5>
                                Los soportes deben ser completamente <strong> escaneados,
                                    libres de contraseña, sin documentos cifrados, tener toda la información del
                                    paciente,</strong> incapacidad
                                y médico que lo emite para que puedan ser procesados.
                            </div>
                            <hr />
                            <div class="table-responsive">
                                <table class="table text-center table-hover">
                                    <caption>Documentos requeridos para la radicacion.</caption>
                                    <thead>
                                        <tr>
                                            <th scope="col">Documento</th>
                                            <th scope="col"></th>
                                            <th scope="col">Carga</th>
                                            <th scope="col">Tamaño</th>
                                            <th scope="col"></th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let d of documentos">
                                            <td>{{ capitalizeFirstLetter(d.descripcionDelDocumento) }}</td>
                                            <td>
                                                <span *ngIf="d.requerido" class="badge rounded-pill text-bg-danger">Requerido</span>
                                                <span *ngIf="!d.requerido" class="badge rounded-pill text-bg-info">Opcional</span>
                                            </td>
                                            <td *ngIf="d.cargaDocumento">
                                                {{ d.cargaDocumento }}
                                            </td>
                                            <td *ngIf="!d.cargaDocumento"></td>
                                            <td *ngIf="d.cargaDocumento">
                                                <span *ngIf="d.pesoCarga > 0">{{ d.pesoCarga }} MB</span>
                                                <span *ngIf="d.pesoCarga == 0">{{ d.pesoCarga }} KB</span>
                                            </td>
                                            <td *ngIf="!d.cargaDocumento"></td>
                                            <td>
                                                <span *ngIf="d.cargaDocumento"
                                                    class="badge rounded-pill text-bg-success">
                                                    Cargado
                                                    <i class="fa-solid fa-file-circle-check"></i>
                                                </span>
                                                <span *ngIf="!d.cargaDocumento"
                                                    class="badge rounded-pill text-bg-warning">
                                                    Pendiente
                                                    <i class="fa-solid fa-file-circle-minus"></i>
                                                </span>
                                            </td>
                                            <td>
                                                <button *ngIf="!d.cargaDocumento" type="button"
                                                    class="btn btn-outline-primary btn-sm rounded-pill"
                                                    (click)="fileInput.click()" data-bs-toggle="tooltip"
                                                    data-bs-placement="top" data-bs-title="Cargar documento">
                                                    <i class="fa-sharp fa-solid fa-paperclip"></i>
                                                </button>

                                                <input type="file" #fileInput style="display: none;"
                                                    (change)="onFileSelected($event, d)" accept="*/*">

                                                <button (click)="quitarDocumento(d)" *ngIf="d.cargaDocumento"
                                                    class="btn btn-outline-danger rounded-pill btn-sm"
                                                    data-bs-toggle="tooltip" type="button" data-bs-placement="top"
                                                    data-bs-title="Quitar documento">
                                                    <i class="fa-solid fa-xmark mx-1"></i>
                                                </button>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col d-flex justify-content-center me-2">
                            <button (click)="goPage('/incapacidades/devolucion/incapacidades-devueltas')" type="button" class="btn btn-lg rounded-pill btn-warning">
                                <i class="fa-solid fa-arrow-left me-2"></i>
                                Regresar
                            </button>
                            <button [disabled]="isLoadingRequest" class="btn btn-success btn-lg rounded-pill ms-2" (click)="terminarDevolucion(modalRadicacionOk, modalRadicacionLoading, modalRadicacionError)">
                                <span *ngIf="!isLoadingRequest">Terminar devolución</span>
                                <span *ngIf="isLoadingRequest">Radicando devolución...</span>

                                <i *ngIf="!isLoadingRequest" class="fa-solid fa-check ms-2"></i>
                                <span class="spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true" *ngIf="isLoadingRequest"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #modalRadicacionOk let-c="close" let-d="dismiss">
    <div class="modal-content shadow">
        <div class="modal-header border-bottom-0">
            <h1 class="modal-title fs-5"></h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body py-0 text-center">
            <i class="fa-regular fa-circle-check text-success fs-1"></i>
            <p class="fs-4 mb-0">Caso radicado</p>
            <p class="fs-2 fw-bold">No. </p>
            <small></small>
            <p class="text-muted">
                Este trámite pasa a un proceso de revisión documental , cuya respuesta y definición la podrá
                visualizar a través de la opción seguimiento de incapacidades / consultar.
            </p>
        </div>
        <div class="modal-footer flex-column border-top-0">
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')" class="btn btn-lg btn-secondary w-100 mx-0">Aceptar</button>
        </div>
    </div>
</ng-template>

<ng-template #modalRadicacionLoading let-c="close" let-d="dismiss" draggable="false">
    <div class="modal-content shadow">
        <div class="modal-body text-center py-4">
            <p class="fs-4 mb-0 mt-2">Radicando incapacidad...</p>
            <img src="assets/gif/loading.gif" alt="loading gif" class="img-fluid">
            <div>
                <span class="fw-light">Este proceso puede demorar varios minutos, por favor espera...</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #modalRadicacionError let-c="close" let-d="dismiss">
    <div class="modal-content shadow">
        <div class="modal-header border-bottom-0">
            <h1 class="modal-title fs-5"></h1>
            <button type="button" class="btn-close" aria-label="Close" (click)="closeModalError()"></button>
        </div>
        <div class="modal-body py-0 text-center">
            <i class="fa-regular fa-circle-xmark text-danger fs-1"></i>
            <p class="fs-4 mb-0">ERROR.</p>
            <p class="mb-0">Ha ocurrido un error al radicar la incapacidad.</p>
        </div>
        <div class="modal-footer flex-column border-top-0">
            <button type="button" class="btn btn-lg btn-secondary w-100 mx-0" data-bs-dismiss="modal">Aceptar</button>
        </div>
    </div>
</ng-template>