<div class="container">
    <div class="row">
        <div class="col">
            <nav class="mt-4"
            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="bootstrap.xhtml" class="text-decoration-none">Inicio</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="tipoIncapacidad.xhtml" class="text-decoration-none">Radicar incapacidad</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Enfermedad general</li>
                </ol>
            </nav>
            <div class="p-sm-4 mb-4 bg-light rounded-5 border">
                <div class="container-fluid p-4">
                    <div class="row">
                        <div class="col">
                            <h1 class="fw-bold text-center">Radicar Incapacidad</h1>
                            <h3 class="fw-light text-center text-muted">Enfermedad general</h3>
                            <hr />
                            <h5 class="text-danger text-center fw-light">Observaciones generales de obligatorio cumplimiento para la entrega de soportes </h5>
                            <h5 class="text-danger text-center">Por favor lea atentamente</h5>
                            <br>
                            <span>
                                <ul>
                                    <li>
                                        Los certificados de incapacidad deben ser debidamente <strong>escaneados</strong>,
                                        no se permiten escaner con
                                        sombras u otros objetos diferentes en la imagen, recortados e ilegibles.El formato
                                        deber ser
                                        en PDF.
                                    </li>
                                    <br />
                                    <li>
                                        <strong>El certificado de Incapacidad es único y específico</strong> para tal fin,
                                        <strong>expedido por el profesional médico</strong> u
                                        odontológico tratante, no se permiten la incapacidad como una mención dentro de
                                        otros tipos de documentos,
                                        cómo texto de la historia clínica, Fórmulas Médica, Triage u otros soportes no
                                        aptos.
                                    </li>
                                    <br />
                                    <li>
                                        Por norma general en seguridad social, <strong>ninguna incapacidad por enfermedad
                                            común o Accidente laboral
                                            podrá ser superior a 30 días</strong> con excepción de las Licencias de
                                        Maternidad.
                                    </li>
                                    <br />
                                    <li>
                                        Los <strong>requisitos mínimos</strong> que debe tener toda incapacidad según
                                        decreto 1427 de 2022 son: El certificado a
                                        transcribir en formato membreteado, el cual debe contener la siguiente información:
                                        <br /><br />
                                        <ol type="a">
                                            <li>Nombre de la entidad, NIT de IPS de la atención y/o del médico u odontólogo
                                                tratante;</li>
                                            <li>Lugar y fecha de expedición;</li>
                                            <li>Nombre del afiliado y número del documento de identidad;</li>
                                            <li>Diagnóstico clínico CIE;</li>
                                            <li>Fecha de iniciación y duración de la incapacidad;</li>
                                            <li>Nombre, número del registro profesional, cédula de ciudadanía y firma del
                                                médico u odontólogo que expide la incapacidad o la licencia.</li>
                                        </ol>
                                    </li>
                                    <br />
                                    <li>
                                        Historia clínica, (Resumen de atención o Epicrisis) o constancia médica u
                                        odontológica relativa al
                                        estado de salud, tratamiento o acto médico que justifique la incapacidad o la
                                        licencia por maternidad.
                                    </li>
                                    <br />
                                    <li>
                                        Cuando la Incapacidad sea por de Accidente Transito, independiente de origen común o
                                        laboral, se debe
                                        adjuntar los siguientes documentos
                                        <br /><br />
                                        <ol type="a">
                                            <li>Furips (formulario único de reclamación de las instituciones prestadoras de
                                                servicios de salud
                                                por servicios prestados a víctimas de eventos catastróficos y accidentes de
                                                tránsito.).
                                            </li>
                                            <li>
                                                Soat (En caso de auto fantasma o ausencia de Soat adjuntar carta relatando
                                                los hechos)
                                            </li>
                                        </ol>
                                    </li>
                                </ul>
                            </span>
                            <hr />
                            <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="form">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="terminos" [(ngModel)]="accepted"
                                    formControlName="terminos" [ngClass]="{'is-invalid': f['terminos'].errors && submitted}" required/>
                                    <label class="form-check-label" for="terminos">
                                        Acepto haber leído los requisitos generales.
                                    </label>
                                    <div *ngIf="f['terminos'].errors && submitted" class="invalid-feedback">
                                        <div *ngIf="f['terminos'].errors['required']">Este campo es requerido.</div>
                                    </div>
                                </div>
                                <hr />
                                <div class="d-flex justify-content-center me-2">
                                    <a href="radIncaEnfermedadGeneral.xhtml" class="btn btn-lg rounded-pill btn-warning">
                                        <i class="fa-solid fa-arrow-left me-2"></i>
                                        Regresar
                                    </a>
                                    <button type="submit" class="btn btn-lg rounded-pill btn-warning ms-2">
                                        Siguiente
                                        <i class="fa-solid fa-arrow-right ms-2"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>