<div class="container">
    <div class="row">
        <div class="col">
            <nav class="mt-4"
            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);"
                aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" routerLinkActive="fw-bold">
                        <a routerLink="/dashboard" class="text-decoration-none">Inicio</a>
                    </li>
                    <li class="breadcrumb-item" routerLinkActive="fw-bold">
                        <a routerLink="/incapacidades/radicacion/tipo-incapacidad" class="text-decoration-none">Radicar
                            incapacidad</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ capitalizeWords(tipoIncapacidad.nombreTipoIncapacidad) }}</li>
                </ol>
            </nav>
            <div class="col-12" *ngIf="isLoading">
                <div class="h-100 p-3 bg-light border rounded-4 text-center align-items-center d-flex">
                    <strong class="option-tipo">Las condiciones para radicar una incapacidad estan cargando....</strong>
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </div>
            </div>
            <div class="alert alert-warning alert-dismissible fade show" role="alert" *ngIf="errorMessageWarning">
                <strong>{{ errorMessageWarning }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="p-sm-4 mb-4 bg-light rounded-5 border" *ngIf="!isLoading">
                <div class="container-fluid p-4">
                    <div class="row">
                        <div class="col">
                            <h1 class="fw-bold text-center">Radicar Incapacidad</h1>
                            <h3 class="fw-light text-center text-muted">{{ tipoIncapacidad.nombreTipoIncapacidad }}</h3>
                            <hr>
                            <h6 class="fw-light text-center text-muted">{{ subtipoIncapacidad.nombreSubTipoIncapacidad }}</h6>
                            <hr>
                            <h5 class="text-danger text-center fw-light">Observaciones generales de obligatorio cumplimiento para la entrega de soportes </h5>
                            <h5 class="text-danger text-center">Por favor lea atentamente</h5>
                            <br>
                            <div [innerHTML]="htmlContent"></div>
                            <hr />
                            <form class="needs-validation" (ngSubmit)="onSubmit()" [formGroup]="form">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="terminos" [(ngModel)]="accepted"
                                    formControlName="terminos" [ngClass]="{'is-invalid': f['terminos'].errors && submitted}" required/>
                                    <label class="form-check-label" for="terminos">
                                        Acepto haber leído los requisitos generales.
                                    </label>
                                    <div *ngIf="f['terminos'].errors && submitted" class="invalid-feedback">
                                        <div *ngIf="f['terminos'].errors['required']">Este campo es requerido.</div>
                                    </div>
                                </div>
                                <hr />
                                <div class="d-flex justify-content-center me-2">
                                    <button (click)="goPage('incapacidades/radicacion/radicar-incapacidad')" type="button" class="btn btn-lg rounded-pill btn-warning">
                                        <i class="fa-solid fa-arrow-left me-2"></i>
                                        Regresar
                                    </button>
                                    <button type="submit" class="btn btn-lg rounded-pill btn-warning ms-2">
                                        Siguiente
                                        <i class="fa-solid fa-arrow-right ms-2"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>