<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <p class="display-4 fw-normal">Hola {{nombreUsuario}},</p>
                <p class="fs-5 text-muted">Ahora puedes radicar, gestionar y darle seguimiento a tus incapacidades que sean por motivos como:
                    <strong>Enfermedad general, Accidente laboral, Enfermedad laboral y Licencia de maternidad.</strong>
                </p>
            </div>
            <div class="row mb-3 text-center">
                <div class="col-12 col-lg-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header py-3" [ngClass]="{'bg-warning border-warning' : activosEmp, 'bg-danger border-danger' : serviolaEmp, 'bg-secondary border-secondary' : atecnoEmp}" style="border-top-left-radius: 40px;border-top-right-radius: 40px;">
                            <i class="fa-sharp fa-solid fa-file-medical text-dark d-none d-md-block" style="font-size: 2em"></i>
                            <p class="fs-item-menu mt-2 mb-0" [ngClass]="{'text-light': activosEmp || serviolaEmp, 'text-dark' : atecnoEmp }">RADICAR</p>
                        </div>
                        <div class="card-body">
                            <img src="assets/img/radicacion_incapacidad.png" class="img-fluid" alt="imagen radicar" width="180"/>
                            <hr/>
                            <button type="button" (click)="go('/incapacidades/radicacion/tipo-incapacidad')" class="btn w-100 rounded-pill" [ngClass]="{'btn-warning': activosEmp, 'btn-danger' : serviolaEmp, 'btn-secondary' : atecnoEmp}">Radicar</button> 
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header py-3" [ngClass]="{'bg-warning border-warning' : activosEmp, 'bg-danger border-danger' : serviolaEmp, 'bg-secondary border-secondary' : atecnoEmp}" style="border-top-left-radius: 40px;border-top-right-radius: 40px;">
                            <i class="fa-solid fa-rotate-left icon-size text-dark d-none d-md-block" style="font-size: 2em"></i>
                            <p class="fs-item-menu mt-2 mb-0" [ngClass]="{'text-light': activosEmp || serviolaEmp, 'text-dark' : atecnoEmp }" style="letter-spacing: 5px">DEVOLUCION</p>
                        </div>
                        <div class="card-body">
                            <img src="assets/img/devolucion_incapacidad.png" class="img-fluid" alt="..." width="180"/>
                            <hr/>
                            <a routerLink="/incapacidades/devolucion/incapacidades-devueltas" class="w-100 btn rounded-pill" [ngClass]="{'btn-warning': activosEmp, 'btn-danger' : serviolaEmp, 'btn-secondary' : atecnoEmp}">Gestionar</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card mb-4 shadow">
                        <div class="card-header py-3" [ngClass]="{'bg-warning border-warning' : activosEmp, 'bg-danger border-danger' : serviolaEmp, 'bg-secondary border-secondary' : atecnoEmp}" style="border-top-left-radius: 40px;border-top-right-radius: 40px;">
                            <i class="fa-sharp fa-solid fa-magnifying-glass icon-size text-dark d-none d-md-block" style="font-size: 2em"></i>
                            <p class="fs-item-menu mt-2 mb-0" [ngClass]="{'text-light': activosEmp || serviolaEmp, 'text-dark' : atecnoEmp }" style="letter-spacing: 5px">SEGUIMIENTO</p>
                        </div>
                        <div class="card-body">
                            <img src="assets/img/seguimiento_incapacidades.png" class="img-fluid" alt="..." width="180"/>
                            <hr/>
                            <a routerLink="/incapacidades/seguimiento/historial-incapacidad" class="w-100 btn rounded-pill" [ngClass]="{'btn-warning': activosEmp, 'btn-danger' : serviolaEmp, 'btn-secondary' : atecnoEmp}">Consultar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>